@media(max-width: 375px) {
    .about-me__knowledge {
        padding-left: 20px;
    }
}

@media(max-width: 768px) {
    html {
        /* base 62.5% logo, a cada 1rem será considera 10px */
        font-size: 45.5%;
    }
}

@media(max-width: 1024px) {
    html {
        /* base 62.5% logo, a cada 1rem será considera 10px */
        font-size: 50.5%;
    }
}

@media(max-width: 425px) {
    .landing__nav-bar--left {
        display: none;
    }
}