@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;700;800&display=swap');

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}


html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
  }

body{
    background: #D7D7D7;
    font-size: 1.6rem;
}

html,body{
    text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

section{
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#landing{
    width: auto;
    height: 100vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 60px ;
}

#content{
    width: 80% ;
    height: 80%;
    
}

.top-bar{
    display: flex;
    width: auto;
    justify-content: space-between;
    color: white;
}


.items{
    display: flex;
    list-style: none;
    width: 637px;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.items li{
    width: 147px;
    height: 46px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#tell-me{
    background-color:white;
    border-radius: 10px;
    
}


.items a{
    text-decoration: none;
    color: black;
    align-self: center;
    width: 147px;
    padding: 10px;
}

#about a{
    color: black;
}



.apresentation{

    font-family: 'Raleway', sans-serif;

}

.apresentation h3{
    
    font-weight: bold;
    font-size: 35px;
}

.apresentation h1{
    
    font-size: 65px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.apresentation p{
    color: #909090;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 100px;
}



.buttons ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

.buttons a{
    height: 36px;
}

.buttons li{
    width: 52px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dbdbdb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    border-radius: 10px;
    size: 1rem;
}

.buttons li img{
    width: 34px;
    height: 34px;
}

.buttons li:hover{
    position: relative;
    top: 4px;
    box-shadow: none;
}


.my-history{
    height: 250px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
    overflow: hidden;
}

.reading{
    padding: 40px 102px;
    color: white;
}

.reading p{
    max-width: 600px;
    width: auto;
}

.reading h2{
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.reading p{
    font-size: 12px;
    font-family: 'Open-sans', sans-serif;
    font-weight: 700;
}

.animation{
    margin-right: 65px;
    position: relative;
    top: -45px;
}

.about-me{
    height: 3000px;
    display: flex;
    flex-direction: column;
    
}

.marcation{
   display: flex;
   align-items: center;
    justify-content: center;
    margin-top: 142px;
    margin-bottom: 41px;
}

.marcation h2{
    border: 8px solid black;
    border-radius: 20px;
    padding: 25px 45px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
}

.about-me p{
    font-family: 'Open-sans', sans-serif;
    font-weight: 500;
    align-self: center;
    margin-bottom: 61px;

}