@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
}

html {
    /* base 62.5% logo, a cada 1rem será considera 10px */
    font-size: 55.5%;
}

body {
    background: #D7D7D7;
    font-size: 1.6rem;
    height: auto;
}

html,
body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

footer {
    height: 20rem;
    background: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.footer__content {
    position: relative;
    bottom: -5rem;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.footer__content p {
    margin-top: 4.8rem;
}

#landing {
    width: auto;
    height: 100vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing__content {
    width: 80%;
    height: 80%;
}

.landing__nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7.2rem;
    transition: all 1.5s;
    padding-right: 20px;
}

#on-roll {
    position: fixed;
    top: 0;
    background-color: #D7D7D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 0.4px 0.4rem rgba(0, 0, 0, 0.25);
    width: 100%;
    left: 0;
}

#on-roll .landing__nav-bar--left {
    font-size: 1.2rem;
    justify-content: space-around;
}

#on-roll .landing__nav-bar--left li {
    width: 13rem;
}

#on-roll #landing__logo {
    margin-left: 1.5rem;
    width: 5rem;
}

.landing__nav-bar--left {
    display: flex;
    list-style: none;
    width: 63.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.landing__nav-bar--left li {
    width: 14.7rem;
    height: 4.6rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.landing__nav-bar--left a {
    text-decoration: none;
    color: black;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    align-self: center;
    width: 14.7rem;
    padding: 1rem;
}

#landing__nav-bar--active {
    background: #fafafa;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    transition: all 0.9s;
}

#landing__nav-bar--active:hover {
    transform: translateY(0.4rem);
    box-shadow: none;
}

#landing__logo {
    width: 6rem;
}

.landing__section {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__apresentation {
    margin-top: 13rem;
    font-family: 'Raleway', sans-serif;
}

.landing__apresentation h3 {
    font-weight: bold;
    font-size: 3.5rem;
}

.landing__apresentation h3:hover {
    transform: translateY(-0.8rem);
    transition: all 0.5s ease-in-out;
}

.landing__apresentation h1 {
    font-size: 6.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.landing__apresentation h1:hover {
    transform: translateY(-0.8rem);
    transition: all 0.9s;
}

.landing__apresentation p {
    color: #909090;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 10rem;
}

.landing__buttons--left {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 20rem;
}

.landing__buttons a {
    height: 3.6rem;
}

.landing__buttons li {
    width: 5.2rem;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    border-radius: 1rem;
    size: 1rem;
    transition: all 0.5s;
    background: #dbdbdb;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.landing__buttons li img {
    width: 3.4rem;
    height: 3.4rem;
}

.landing__buttons li:hover {
    position: relative;
    transform: translateY(0.4rem);
    box-shadow: none;
}

.curiosity {
    height: 25rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
    overflow: hidden;
}

.curiosity__reading {
    padding: 4rem 10.2rem;
    color: white;
}

.curiosity__reading p {
    max-width: 60rem;
    width: auto;
    text-align: justify;
}

.curiosity__reading h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.curiosity__reading--title {
    font-size: 1.6rem;
    font-family: 'Open-sans', sans-serif;
    font-weight: 700;
}

.curiosity__reading-trade {
    font-size: 1.4rem;
    font-family: 'Open-sans', sans-serif;
    font-weight: 700;
    animation-name: right-left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes right-left {
    0% {
        transform: translateX(0px);
    }
    85% {
        transform: translateX(0px);
    }
    90% {
        transform: translateX(15rem);
    }
    100% {
        transform: translateX(-100rem);
    }
}

.curiosity__animation {
    margin-right: 6.5rem;
    position: relative;
    top: -3.5rem;
}

.curiosity__animation img {
    animation-name: around;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes around {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#about-me {
    transition: all 1s;
}

.about-me__content {
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-me__marcation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14.2rem 0px 8rem 0px;
}

.about-me__marcation h2 {
    border: 0.8rem solid black;
    border-radius: 2rem;
    padding: 2.5rem 4.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
}

.about-me__coment {
    font-family: 'Open-sans', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-me__coment--decoration {
    margin-bottom: 8rem;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.about-me__meet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 16rem;
}

.about-me__knowledge {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100rem;
}

.about-me__knowledge--center {
    margin-top: 8rem;
}

.about-me__knowledge--center h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.18538em;
    font-size: 2rem;
}

.about-me__knowledge--center p {
    font-family: 'Open-sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: justify;
    max-width: 38rem;
}

.about-me__knowledge--center img {
    position: relative;
    bottom: -4.5rem;
    right: 5rem;
}

.left {
    padding-bottom: 1.1rem;
}

.marcation-two h2 {
    width: 34rem;
    height: 9.5rem;
    text-align: center;
}

.marcation-two {
    display: flex;
    justify-content: center;
}

.about-me__description {
    width: 90rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.about-me__skills {
    height: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__skills--section {
    width: 90rem;
    height: 40rem;
    align-self: center;
    display: grid;
    grid: repeat(2, 12rem) / auto-flow;
    align-content: center;
    column-gap: 5rem;
    row-gap: 8rem;
}

.about-me__skill {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

.about-me__skill--icon {
    width: 6.5rem;
    height: 8rem;
    padding-bottom: 2rem;
    transition: all 0.5s;
}

.about-me__skill--icon {
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

#section__learning {
    margin-bottom: 8rem;
}

.about-me__portfolio {
    background: #1D1D1D;
}

#portfolio h2 {
    border: 0.8rem solid #FFFFFF;
    color: white;
}

#portfolio {
    margin-top: 8rem;
}

.about-me__portfolio {
    height: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-weight: 600;
    padding-bottom: 2rem;
}

.about-me__portfolio span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
}

.about-me__list-card {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 4.8rem;
    overflow-x: scroll;
    width: 50%;
}

.about-me__card {
    height: 35rem;
    width: 30rem;
    min-width: 25rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: #909090;
    box-shadow: -1.6rem 0 4.8rem #201c29c4;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.about-me__card--header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.about-me__card--header span {
    margin: 0;
    font-size: 1.2rem;
    color: #D7D7D7;
    font-weight: 400;
}

.about-me__card:focus-within~.about-me__card,
.about-me__card:hover~.about-me__card {
    transform: translateX(16rem);
}

.about-me__card:hover {
    z-index: 1000;
    transform: translateY(-2.6rem);
}

.about-me__card:not:hover {
    transform: translateY(2rem);
    position: absolute;
}

.about-me__card:not(:first-child) {
    margin-left: -13rem;
}

.about-me__card--header img {
    max-width: 25rem;
    max-height: 30rem;
    min-width: 10rem;
    min-height: 5rem;
    width: auto;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    transition: .2s;
}

.about-me__card--header img:hover {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    width: auto;
    height: auto;
    z-index: 1000;
}

.about-me__card--header p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1.6rem;
    padding-bottom: 1.6rem;
    text-align: justify;
    color: black;
    width: 25rem;
    word-spacing: 0.1rem;
    font-family: 'poppins', sans-serif;
}

.about-me__card--header p:hover {
    background: linear-gradient(90deg, #4e4e4e, #000000);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.about-me__list-card::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

.about-me__list-card::-webkit-scrollbar-thumb {
    background: #1D1D1D;
    border-radius: 1rem;
    box-shadow: inset 0.2rem 0.2rem 0.2rem hsla(0, 0%, 100%, .25), inset -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, .25);
}

.about-me__list-card::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 0.1rem, #17141d 0, #17141d);
}